In [3]:
import psycopg2
from psycopg2 import Error


# Connect to an existing database
connection = psycopg2.connect(user="postgres",
                              password="STpass@9",
                              host="localhost",
                              port="5432",
                              database="phone_data")

# Create a cursor to perform database operations
cursor = connection.cursor()

create_table_query = """INSERT INTO search_phone 
                (id, name, price, location, 
                image, link, time, date, condition_id, 
                region_id, vendor_id ) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s, %s )""", 1, "Iphone 12", 2577, "Obuasi", 'Greater Accra', 'link', 'image', "14:30", 1, 1,   ) 

    # Execute a command: this creates a new table
cursor.execute(create_table_query)
connection.commit()
cursor.close()
connection.close()

In [1]:
import psycopg2
connection = psycopg2.connect(user="postgres",
                              password="STpass@9",
                              host="localhost",
                              port="5432",
                              database="phone")

with connection:

    cur = connection.cursor()

    cur.execute("INSERT INTO search_phone(name, price, location, image, link, time, date, condition_id, region_id, vendor_id)VALUES( 'Iphone 12', 2577, 'Obuasi', 'image', 'link', '14:30:00','2021-10-22', 1, 1, 1)")

SyntaxError: syntax error at or near "1"
LINE 1: ... 'Obuasi', 'image', 'link', '14:30:00','2021-10-22' 1, 1, 1)
                                                               ^

In [33]:
name = 'Daniel'
price = 100000
location = 'Obuasi'
region_id = 1
image = 'image'
link = 'link'
time = '14:00:05'
date = '2021-07-07'
condition_id = 1
vendor_id = 1

In [25]:
def insert_data(name, price, location, image, link, time, date, condition_id, region_id, vendor_id, cur):
    quer = "INSERT INTO search_phone(id, name, price, location, image, link, time, date, condition_id, region_id, vendor_id)"
    val = "VALUES({}, {}, {}, {}, {}, '{}', '{}', {}, {}, {})".format(name, price, location, image, link, time, date, condition_id, region_id, vendor_id)
    cur.execute(quer)
    return (quer + val)

In [26]:
insert_data (name, price, location, image, link, time, date, condition_id, region_id, vendor_id)

"INSERT INTO search_phone(id, name, price, location, image, link, time, date, condition_id, region_id, vendor_id)VALUES(Daniel, 100000, Obuasi, image, link, '14:00:05', '2021-07-07', 1, 1, 1)"

In [ ]:
insert_data(name, price, location, image, link, time, date, condition_id, region_id, vendor_id)

In [15]:
query = "SELECT id FROM search_region where region={}".format(region)
print(query)

SELECT id FROM search_region where region=1

In [ ]:
val = "VALUES(" +name+, 2577, 'Obuasi', 'image', 'link', '14:30:00', "+ str(condition)+ ', '+ str(region)+', ' + str(vendor) + ')'

In [155]:
# This function creates the connection to the database
def create_connection():
    import psycopg2
    connection = psycopg2.connect(user="postgres",
                              password="STpass@9",
                              host="localhost",
                              port="5432",
                              database="phone")
    cur =connection.cursor()
    
    return connection, cur
    
# ths functions gets the id for region    
def get_region_id(region, cur):
    query = "SELECT id FROM search_region where region='{}'".format(region)
    cur.execute(query)
    key = cur.fetchone()[0]
    return key
    
# ths functions gets the id for condition  
def get_condition_id(condition, cur):
    query = "SELECT id FROM search_condition where condition='{}'".format(condition) 
    cur.execute(query)
    key = cur.fetchone()[0]
    return key

# ths functions gets the id for site  
def get_vendor_id(vendor, cur):
    query = "SELECT id FROM search_vendor where vendor='{}'".format(vendor)
    cur.execute(query)
    key = cur.fetchone()[0]
    return key

# this function inserts the data into the database
def insert_data(name, price, location,image, link, time, date, condition_id, region_id, vendor_id, cur):
    quer = "INSERT INTO search_phone(name, price, location, image, link, time, date, condition_id, region_id, vendor_id)"
    val = "VALUES('{}', {}, '{}', '{}', '{}', '{}', '{}', {}, {}, {})".format(name, price, location, image, link, time, date, condition_id, region_id, vendor_id)
    query = quer+val
    cur.execute(query)
    print('Data Inserted')
    return

# this function checks to see if 
def link_url (link, cur):
    query = "SELECT link FROM search_phone where link ='{}'".format(link)
    cur.execute(query)
    key = cur.fetchone()
    return key

In [161]:

vendor = 'Tonaton'
connection, cur = create_connection()
with connection:
    region_id = get_region_id(region, cur)
    condition_id = get_condition_id(condition, cur)
    vendor_id = get_vendor_id(vendor, cur)
    if link_url(link, cur) == None:
        insert_data(name, price, location, image, link, time, date, condition_id, region_id, vendor_id, cur)
        print( "{} has been inserted into the database ".format(name))
    else:
        print('Item Already exists')

Item Already exists

In [158]:
import psycopg2
connection = psycopg2.connect(user="postgres",
                              password="STpass@9",
                              host="localhost",
                              port="5432",
                              database="phone_data")

with connection:

    cur = connection.cursor()
    
    condition = "'New'"
    query = "SELECT id FROM search_condition where condition="+condition 
    cur.execute(query)
    key = cur.fetchone()[0]
    print(key)
    
    region = "'Greater Accra'"
    query = "SELECT id FROM search_region where region="+region 
    cur.execute(query)
    key1 = cur.fetchone()[0]
    print(key1)
    
    vendor = "'Tonaton'"
    query = "SELECT id FROM search_vendor where vendor="+vendor 
    cur.execute(query)
    key2 = cur.fetchone()[0]
    print(key2)
    
    quer = "INSERT INTO search_phone(name, price, location, image, link, time, condition_id, region_id, vendor_id)"
    val = "VALUES( 'Iphone 12', 2577, 'Obuasi', 'image', 'link', '14:30:00', "+ str(key)+ ', '+ str(key1)+', ' + str(key2) + ')'
    cur.execute(quer+ val)

OperationalError: FATAL:  database "phone_data" does not exist

In [71]:
WHERE NOT EXISTS (
    SELECT customer_name FROM customer_details WHERE customer_name = 'Veronica'
)

1

In [ ]:
SELECT link from search_phone WHERE link = 'link'

In [52]:
link = 'link'

In [101]:
exception = "IF NOT EXISTS (SELECT link FROM search_phone WHERE link = '{}')".format(link)

In [102]:
print(exception)

IF NOT EXISTS (SELECT link FROM search_phone WHERE link = 'link')

In [103]:
quer = " INSERT INTO search_phone ( name, price, location, image, link, time, date, condition_id, region_id, vendor_id)"
val = " VALUES('{}', {}, '{}', '{}', '{}', '{}', '{}', {}, {}, {})".format(name, price, location, image, link, time, date, condition_id, region_id, vendor_id)
query = exception + quer+val

In [104]:
print(query)

IF NOT EXISTS (SELECT link FROM search_phone WHERE link = 'link') INSERT INTO search_phone ( name, price, location, image, link, time, date, condition_id, region_id, vendor_id) VALUES('Daniel', 100000, 'Obuasi', 'image', 'link', '14:00:05', '2021-07-07', 2, 3, 2)

In [124]:
with connection:
    region_id = get_region_id(region, cur)
    print(region_id)

3

In [146]:
def link_url (link, cur):
    query = "SELECT link FROM search_phone where link ='{}'".format(link)
    cur.execute(query)
    key = cur.fetchone()
    return key

In [153]:

link = 'links'
connection, cur = create_connection()
with connection:
    l = link_url(link, cur)
    print(l)

None

In [150]:
link_url(link, cur)

('link',)

In [ ]:
,