In [3]:
import psycopg2
from psycopg2 import Error


# Connect to an existing database
connection = psycopg2.connect(user="postgres",
                              password="STpass@9",
                              host="localhost",
                              port="5432",
                              database="phone_data")

# Create a cursor to perform database operations
cursor = connection.cursor()

create_table_query = """INSERT INTO search_phone 
                (id, name, price, location, 
                image, link, time, date, condition_id, 
                region_id, vendor_id ) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s, %s )""", 1, "Iphone 12", 2577, "Obuasi", 'Greater Accra', 'link', 'image', "14:30", 1, 1,   ) 

    # Execute a command: this creates a new table
cursor.execute(create_table_query)
connection.commit()
cursor.close()
connection.close()

In [1]:
import psycopg2
connection = psycopg2.connect(user="postgres",
                              password="STpass@9",
                              host="localhost",
                              port="5432",
                              database="phone")

with connection:

    cur = connection.cursor()

    cur.execute("INSERT INTO search_phone(name, price, location, image, link, time, date, condition_id, region_id, vendor_id)VALUES( 'Iphone 12', 2577, 'Obuasi', 'image', 'link', '14:30:00','2021-10-22', 1, 1, 1)")

SyntaxError: syntax error at or near "1"
LINE 1: ... 'Obuasi', 'image', 'link', '14:30:00','2021-10-22' 1, 1, 1)
                                                               ^

In [33]:
name = 'Daniel'
price = 100000
location = 'Obuasi'
region_id = 1
image = 'image'
link = 'link'
time = '14:00:05'
date = '2021-07-07'
condition_id = 1
vendor_id = 1

In [25]:
def insert_data(name, price, location, image, link, time, date, condition_id, region_id, vendor_id, cur):
    quer = "INSERT INTO search_phone(id, name, price, location, image, link, time, date, condition_id, region_id, vendor_id)"
    val = "VALUES({}, {}, {}, {}, {}, '{}', '{}', {}, {}, {})".format(name, price, location, image, link, time, date, condition_id, region_id, vendor_id)
    cur.execute(quer)
    return (quer + val)

In [26]:
insert_data (name, price, location, image, link, time, date, condition_id, region_id, vendor_id)

"INSERT INTO search_phone(id, name, price, location, image, link, time, date, condition_id, region_id, vendor_id)VALUES(Daniel, 100000, Obuasi, image, link, '14:00:05', '2021-07-07', 1, 1, 1)"

In [ ]:
insert_data(name, price, location, image, link, time, date, condition_id, region_id, vendor_id)

In [15]:
query = "SELECT id FROM search_region where region={}".format(region)
print(query)

SELECT id FROM search_region where region=1

In [ ]:
val = "VALUES(" +name+, 2577, 'Obuasi', 'image', 'link', '14:30:00', "+ str(condition)+ ', '+ str(region)+', ' + str(vendor) + ')'

In [36]:
# This function creates the connection to the database
def create_connection():
    import psycopg2
    connection = psycopg2.connect(user="postgres",
                              password="STpass@9",
                              host="localhost",
                              port="5432",
                              database="phone")
    
    return connection.cursor()
    
# ths functions gets the id for region    
def get_region_id(region, cur):
    query = "SELECT id FROM search_region where region='{}'".format(region)
    cur.execute(query)
    key = cur.fetchone()[0]
    return key
    
# ths functions gets the id for condition  
def get_condition_id(condition, cur):
    query = "SELECT id FROM search_condition where condition='{}'".format(condition) 
    cur.execute(query)
    key = cur.fetchone()[0]
    return key

# ths functions gets the id for site  
def get_vendor_id(vendor, cur):
    query = "SELECT id FROM search_vendor where vendor='{}'".format(vendor)
    cur.execute(query)
    key = cur.fetchone()[0]
    return key

# this function inserts the data into the database
def insert_data(name, price, location,image, link, time, date, condition_id, region_id, vendor_id, cur):
    quer = "INSERT INTO search_phone(id, name, price, location, image, link, time, date, condition_id, region_id, vendor_id)"
    val = "VALUES('{}', {}, '{}', '{}', '{}', '{}', '{}', {}, {}, {})".format(name, price, location, image, link, time, date, condition_id, region_id, vendor_id)
    query = quer+val
    cur.execute(query)
    return 'Data inserted'

In [38]:
region = 'Bono'
condition = 'Used'
vendor = 'Jiji'
cur = create_connection()
with connection:
    region_id = get_region_id(region, cur)
    condition_id = get_condition_id(condition, cur)
    vendor_id = get_vendor_id(vendor, cur)
    insert_data(name, price, location, image, link, time, date, condition_id, region_id, vendor_id, cur)
    
print(region)
print(condition)
print(vendor)

SyntaxError: INSERT has more target columns than expressions
LINE 1: ...image, link, time, date, condition_id, region_id, vendor_id)...
                                                             ^

In [102]:
import psycopg2
connection = psycopg2.connect(user="postgres",
                              password="STpass@9",
                              host="localhost",
                              port="5432",
                              database="phone_data")

with connection:

    cur = connection.cursor()
    
    condition = "'New'"
    query = "SELECT id FROM search_condition where condition="+condition 
    cur.execute(query)
    key = cur.fetchone()[0]
    print(key)
    
    region = "'Greater Accra'"
    query = "SELECT id FROM search_region where region="+region 
    cur.execute(query)
    key1 = cur.fetchone()[0]
    print(key1)
    
    vendor = "'Tonaton'"
    query = "SELECT id FROM search_vendor where vendor="+vendor 
    cur.execute(query)
    key2 = cur.fetchone()[0]
    print(key2)
    
    quer = "INSERT INTO search_phone(name, price, location, image, link, time, condition_id, region_id, vendor_id)"
    val = "VALUES( 'Iphone 12', 2577, 'Obuasi', 'image', 'link', '14:30:00', "+ str(key)+ ', '+ str(key1)+', ' + str(key2) + ')'
    cur.execute(quer+ val)

1
1
1

In [131]:
with condition:
    quer = "INSERT INTO search_phone(id, name, price, location, image, link, time, condition_id, region_id, vendor_id)"
    val = "VALUES( 1, 'Iphone 12', 2577, 'Obuasi', 'image', 'link', '14:30:00', "+ str(condition)+ ', '+ str(region)+', ' + str(vendor) + ')'
    (quer + val)

INSERT INTO search_phone(id, name, price, location, image, link, time, condition_id, region_id, vendor_id)VALUES( 1, 'Iphone 12', 2577, 'Obuasi', 'image', 'link', '14:30:00', 2, 10, 2)

In [76]:
condition = "'New'"
query = "SELECT id FROM search_condition where condition="+condition 
print(query)

SELECT id FROM search_condition where condition='New'

In [78]:
a = cur.fetchone()[0]

In [71]:
a

1

In [ ]:
INSERT INTO bar (description, foo_id) VALUES
    ( 'testing',     (SELECT id from foo WHERE type='blue') ),
    ( 'another row', (SELECT id from foo WHERE type='red' ) );

In [25]:
# Executing a SQL query
cursor.execute("""INSERT INTO search_phone 
                (id, name, price, location, 
                image, link, time, condition_id, 
                region_id, vendor_id ) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s )""", 1, "Iphone 12", 2577, "Obuasi", 'Greater Accra', 'link', 'image', "14:30", 1, 1,   ) 

# Fetch result

NameError: name 'cursor' is not defined

In [29]:
import sqlalchemy as db
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:STpass@9@localhost/phone_data')
connection = engine.connect()
metadata = db.MetaData()

In [60]:
region = db.Table('search_region', metadata, autoload=True, autoload_with=engine)

In [61]:
reg = "Greater Accra"

In [62]:
query = db.select([region]).where(region.columns.region == reg)

In [ ]:
db.select([census]).where(census.columns.sex == 'F')

In [63]:

ResultProxy = connection.execute(query)

In [64]:
ResultSet = ResultProxy.fetchall()

In [65]:

ResultSet

[(1, 'Greater Accra')]